body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-bar {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2; /* Set z-index above the banner */
    color: #fff;
}

.dashboard {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: black;
    color: #00FF00;
    padding-top: 20px;
    text-align: start;
    z-index: 998;
}

.dashboard.active {
    display: flex;
}

.menu-icon {
    cursor: pointer;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links a {
    display: flex;
    align-items: flex-start;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.links a i {
    margin-right: 8px; /* Adjust the margin-right to create equal spacing */
}


.links a:hover {
    transform: translateY(-5px);
}

.links a:hover i {
    color: #00FF00; /* Change color on hover */
}

.banner {
    background-color: black;
    padding: 20px;
    position: relative; /* Add position relative */
    z-index: 1; /* Add z-index to ensure it's above the menu */
    text-align: center; /* Center align content */
    color: #fff;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100px; /* Adjust as needed */
    border-radius: 50%; /* To make the image round */
    margin-right: 20px; /* Add space between image and content */
    border: 3px solid #00FF00;
}
.banner p i {
    margin-right: 5px;
    color: #00FF00;
}


.personal-info {
    text-align: left; /* Align text to the left */
    color: #fff;
}

.personal-info h4 {
    margin: 0; /* Remove margin to prevent extra spacing */
    color: #00FF00;
}

.personal-info p {
    margin: 5px 0; /* Add margin to paragraphs */
    font-size: small;
}



/* Sample section styles */
.sample-section {
    background-color: black;
    padding: 20px;
    margin: 0; /* Remove margin */
    color: #fff;
    border-bottom: 2px solid #555; /* Add green border */
}

.sample-section h2 {
    color: #00FF00;
    margin-top: 0; /* Remove margin-top */
}

.sample-section p {
    margin-bottom: 10px;
}

/* Personalized colors */
.colored-dot {
    color: #00FF00;
}
/*Experience*/
.sample-section .experience-content {
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    color: #fff;
}

.sample-section .experience-content b {
    color: #555;
}

.sample-section .experience-content p {
    margin: 10px 0;
    line-height: 1.6; /* Adjust line height for better readability */
}

.sample-section .experience-content .colored-dot {
    color: #00FF00;
}
.check-link {
    color: #00FF00; /* Link color */
    text-decoration: none;
    margin-right: 10px; /* Add spacing between the link and the date */
}

.check-link:hover {
    text-decoration: underline; /* Underline the link on hover */
}
/*Skills*/

.sample-section .skills {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.sample-section .skills span {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-right: 20px; /* Add margin between items */
    margin-bottom: 10px; /* Add margin at the bottom of each skill */
}

.sample-section .skills span i {
    margin-right: 5px; /* Add margin between icon and text */
    color: #00FF00;
}

/*Projects*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.image-wrapper {
    flex: 0 0 48%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid #555;
}

/* Media query for smaller screen sizes */
@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-wrapper {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

.image-link {
    display: block;
    text-decoration: none;
    overflow: hidden;
}

.image-link img {
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.image-link:hover img {
    transform: scale(0.95); /* Shrink the image slightly on hover */
}

.download-section {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
    background-color: black;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.download-button:hover {
    background-color: #00FF00; /* Change background color on hover */
    color: #333; /* Change text color on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
}






@media (max-width: 768px) {
    .content {
        margin-top: 0; /* Reset margin on smaller screens */
    }
}

